/* h1,
h2,
h3,
h4 {
  font-family: "Cormorant Garamond", serif;
}
body,
button,
input {
  font-family: "DM Sans", sans-serif;
} */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: scroll;
}
#nav-logo {
  height: 3rem;
}

/* .navbar {
  position: sticky !important;
  position: -webkit-sticky;
  top: 0;
  width: 100vw;
  z-index: 2;
} */

a {
  text-decoration: none !important;
}

#new-head {
  margin-top: 0.25rem;
}

.add {
  background-color: #1f4d3a;
  border: none;
}

.category {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.category a {
  color: #9e9e9e;
  transition-duration: 0.3s;
}

.category-option {
  display: flex;
}

.category a:hover {
  transform: scale(1.2);
  text-shadow: 2px 2px 4px grey;
}

.category i {
  margin-right: 0.25rem;
  font-size: 1.25rem;
}

#house:hover {
  color: #4caf50;
}

#mount:hover {
  color: #795548;
}

#rivers:hover {
  color: #00bcd4;
}

#apart:hover {
  color: #2196f3;
}

#luxury:hover {
  color: #ffd700;
}

.detailed-btn {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}

@media (min-width: 770px) {
  .detail-card img {
    height: 20rem;
    object-fit: cover;
  }
  #nav-logo {
    margin-left: 1rem;
  }
  .signup-form {
    margin-left: 3rem;
    margin-top: 2rem;
  }
}

@media (max-width: 770px) {
  .category-option p {
    display: none;
  }
  .detail-card img {
    height: 15rem;
    object-fit: cover;
  }
  .detail-card {
    border: none;
  }
  .signup-form {
    margin-left: 1rem !important;
  }
}

.search {
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  border-radius: 1rem;
  justify-content: space-around;
}

.search input,
button {
  height: 100%;
  border: none;
  outline: none;
}
.search input {
  width: 70%;
  border-radius: 1rem 0 0 1rem;
  padding-left: 1rem;
  border: 1px solid #1f4d3a;
  border-right: none;
}

.search button {
  width: 30%;
  border-radius: 0 0.8rem 0.8rem 0;
  background-color: #1f4d3a;
  color: white;
  transition-duration: 0.3s;
}

button a {
  color: white !important;
  text-decoration: none;
}

.search button:hover {
  background-color: #4caf50;
}
.center-head {
  text-align: center;
  /* margin: 1rem 0; */
}

.index-card img {
  height: 10rem !important;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

/* .card-container {
  margin-left: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 5rem;
} */

.index-card {
  border: none;
  transition-duration: 0.25s;
}

.index-card:hover {
  transform: translateY(-8px);
}
.index-titles {
  margin: -1rem 0 0 -1rem;
}

.index-titles h1,
p {
  font-size: 1rem;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.index-titles p {
  margin-top: -0.5rem;
}

.error {
  margin-bottom: 53vh;
}

/* .review span {
  font-size: 1rem;
  position: absolute;
  margin-left: 2rem;
} */

.review p {
  margin-left: 2rem !important;
}

/* .upper-rev {
  display: flex;
  justify-content: space-between;
} */

#rev-stars {
  width: 10%;
}

.signup-form {
  background-color: #f8fafc;
  width: 19rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 1rem;
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.05),
    0 10px 20px rgba(0, 0, 0, 0.08);
}

.signup-form button {
  height: 2.5rem;
  width: 7rem;
  align-self: center;
}

.signup-form input {
  width: 80%;
  margin-left: 2rem;
}

.signup-form label {
  margin-left: 2rem;
}

.signup-form p,
h1 {
  align-self: center;
}

.signup-form input:focus {
  border: 2px solid rgba(34, 197, 94, 0.15);
  box-shadow: 0 0 0 0.3rem rgba(34, 197, 94, 0.15);
  outline: none;
}

.navbar {
  width: 100vw !important;
}

.listing-form input:focus {
  border: 2px solid rgba(34, 197, 94, 0.15);
  box-shadow: 0 0 0 0.3rem rgba(34, 197, 94, 0.15);
  outline: none;
}

.listing-form textarea:focus {
  border: 2px solid rgba(34, 197, 94, 0.15);
  box-shadow: 0 0 0 0.3rem rgba(34, 197, 94, 0.15);
  outline: none;
}

.listing-form select:focus {
  border: 2px solid rgba(34, 197, 94, 0.15);
  box-shadow: 0 0 0 0.3rem rgba(34, 197, 94, 0.15);
  outline: none;
}
